body {
    background: #1e1f22;
    font-family: 'VT323', monospace;
    color: white;
    font-size: 20pt;
}
#main {
    background: black;
    padding: 1rem;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 10px;
    border-radius: 25px;

    display: flex;
    flex-direction: column;
}

#outputPort {
    padding: 1rem;
    overflow: scroll;
    height: 65vh;

    display: flex;
    flex-direction: column-reverse;
}
#inputPort {
    height: 10%;
    padding-left: 1rem;

    display: flex;
    align-items: baseline;
    gap: 2rem;
    justify-content: flex-start;
}
#prompt {
    flex: none;
}
#commandArea {
    flex-grow: 20;
    justify-content: left;

    display: flex
}
#form {
    padding-top: 1rem;
}
input[type=text] {
    background-color: black;
    color: white;
    font-family: 'VT323', monospace;
    border: none;
    width: 90vw;
    outline: none;
    font-size: 20pt;
}
#outputs {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}
