<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adventure Game</title>
    <link href="../static/styles/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&family=VT323&display=swap" rel="stylesheet">
</head>
<body>
    <div id="main">
        <div id="outputPort">
            <div id="outputs">
                <div class="default-text">
                    <p>WELCOME TO *ADVENTURE GAME* (WIP!!)
                        <br>
                        TYPE help FOR VALID COMMANDS
                        <br>
                        ------------------------------------------------------
                    </p>
                </div>
                <div class="default-text">
                    {{ room_name }}
                </div>
                <div class="default-text">
                    {{ room_desc }}
                </div>
            </div>
        </div>
        <div id="inputPort">
            <div id="prompt">
                <p>$</p>
            </div>
            <div id="commandArea">
                <form id="form" autocomplete="off">
                    <input type="text" id="command" autofocus onfocus="this.select()" value="">
                </form>
            </div>
        </div>
    </div>
    <script src="../static/loadSite.js"></script>
</body>
</html>
